<table class="scraped_urls">
  <thead>
    <tr>
      <th>URL</th>
      <th>Most Common Word</th>
      <th>Number of times appeared</th>
    </tr>
  </thead>

  <tbody>
    <% @scraped_urls.each do |scraped_url| %>
      <tr>
        <td><%= link_to scraped_url.url, scraped_url %></td>
        <td><%= scraped_url.sorted_highest_words.first[0] %></td>
        <td><%= scraped_url.sorted_highest_words.first[1] %></td>
      </tr>
    <% end %>
  </tbody>
</table>