<p class="url">
  <h3>URL:</h3>
  <%= @scraped_url.url %>
</p>
<br>
<p class="word-count">
  <h3>Word count:</h3>
  <% @scraped_url.sorted_highest_words.each do |k,v| %>
    <p><b><%= k %>:</b> <%= v %></p>
  <% end %>
</p>